<h2>Paramètres</h2>
<p>Types d'accords</p>
<div class="accord-filters">

 <button *ngFor="let type of types" class="type-btn"
    [class.off]="!isActive(type)"
    class="type-btn"
    (click)="toggle(type); accordConfigService.save()">
    {{ type }}
</button>
</div>

<p>Nombre d'accords</p>
<div ><input type="number" [(ngModel)]="accordConfigService.nbAccords" min="1" max="10" (ngModelChange)="accordConfigService.save()" ></div>
<p>Nombre de notes</p>
<div ><input type="number" [(ngModel)]="accordConfigService.nbNotes" min="1" max ="20" (ngModelChange)="accordConfigService.save()"></div>