@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



body {
  // display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 100vh;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1e1e2f;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
}

button {
  font-family: 'Poppins', sans-serif;
}



h2,
h3 {
  font-weight: 600;
}


button.generate-btn {
  padding: 12px 25px;
  margin-top: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

button.generate-btn:hover {
  background-color: #e68900;
}



//

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.bullet {
  //padding: 8px 15px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.note {
  background-color: #2196f3;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(54, 53, 61);
}

.note-playable {
  background-color: #005fad;
}

.note-playable:hover {
  background-color: #2196f3;
}


//input
/* input pour nombre de notes */
input[type="number"] {
  width: 40px;
  /* assez large pour saisir un nombre */
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 20px;
  /* même arrondi que les boutons */
  border: 2px solid #555;
  /* gris similaire aux boutons inactifs */
  background-color: #1e1e2f;
  /* même fond que le composant */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

input[type="number"]:focus {
  border-color: #ff9800;
  /* couleur “action” comme le bouton générer */
  background-color: #2a2a40;
  /* léger contraste */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* enlève les flèches par défaut sur Chrome */
  margin: 0;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -moz-appearance: textfield;
  /* enlève les flèches sur Firefox */
}