/* You can add global styles to this file, and also import other style files */
button.generate-btn {
  padding: 12px 25px;
  margin-top: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

button.generate-btn:hover {
  background-color: #e68900;
}


