//surcharge pour taille
button.generate-btn {
  width: 45px;          
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 20px; 
}


//pop up modif accord

.menu-box {
  position: fixed; //fixed
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transform: translate(-50%, -50%);
  z-index: 1000; /* au dessus de tout */
  width: 70%;
}

.menu-box button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: none;
}

.menu-box button:hover {
 cursor:pointer;
}

/* Bloque tout clic derrière + assombrit */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* assombrissement */
  backdrop-filter: blur(2px); /* optionnel mais joli */
  z-index: 900; /* sous la popup mais au-dessus du reste */
}