

.type-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.type-btn.active {
  background-color: #4caf50;
  color: #fff;
}

.type-btn.inactive {
  background-color: #555;
  color: #ccc;
}

.result-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.result-tag {
  background-color: #2196f3;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1rem;
}


//PARAM


.toggle-header {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;

    h2 {
    line-height: 1;      // important pour centrer le texte
    display: flex;
    align-items: center;  // centre le texte verticalement si nécessaire
    justify-content: center;  // centre le texte verticalement si nécessaire
  }

  .chevron {
    line-height: 1;      // important pour centrer le chevron
    // display: inline-block;
    transition: transform 0.3s ease;
    align-self: flex-start;
    margin-left: 10px;
  }

  .chevron.open {
    transform: rotate(180deg);
  }
}

.settings-panel {
  // overflow: hidden;
  transform-origin: top;
  transform: scaleY(0.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.open {
    transform: scaleY(1);
    opacity: 1;
  }
}