<h2>Contraintes musicales</h2>

<div>
  <!-- <h3>Types de contraintes :</h3> -->
    <button
    *ngFor="let filtre of filtres"
    (click)="filtre.active = !filtre.active"
    [ngClass]="filtre.active ? 'type-btn active' : 'type-btn inactive'">
    {{ filtre.type }}
  </button>
</div>



<button (click)="generer()" class="generate-btn">Générer</button>


<div *ngIf="contraintesTirees.length > 0">
  <h3>Contraintes :</h3>
  <div class="result-tags">
    <div *ngFor="let c of contraintesTirees" class="result-tag">
      <strong>{{ c.type }}</strong> — {{ c.libelle }}
    </div>
  </div>
</div>